/* =================================================================================================================================================================================================
============ RESPONSIVE PHONE CSS ===================================================================================================================================================================
================================================================================================================================================================================================== */


@media (max-width:1110px){
    .brand{
        margin-left: 100px;
    }
    .navbar-item > .home-navbar{
        margin-left: 50px;
    }
    .navbar-item > .product-navbar{
        margin-right: 0px;
    }

    .socialmedia{
        margin-left: 10px;
    }

    .hero-banner > .hero-image{
        width: 500px;
        height: 500px;
        
    }

    .faq-sec1{
        width: 500px;
        height: 550px;
    }

    .singkong-text{
        display: inline-flex;
        width: 200px;
        height: 200px;
        /* background-color: red; */
        position: relative;
        top: -380px;
        left: 400px;
        color: #333333;
    }

    .arrowImage1{
        position: absolute;
        top: -20px;
        left: 180px;
        z-index: -1;
    }

    .imgProduct2{
        position: relative;
        top: -180px;
        right: -100px;
    }

    .pangsitInfo{
        position: relative;
        bottom: -300px;
        left: -100px;
    }

    .peyekText{
        top: -400px;
        left: 400px;
    }

    .arrowImage3{
        margin-top: -300px;
    }

    .imgProduct4{
        position: relative;
        top: -200px;
        right: -100px;
    }

    .arrowImage4{
        top: 60px;
    }

    .basrengInfo{
        position: relative;
        bottom: -300px;
        left: -100px;
    }


    .bestseller{
        flex-wrap: nowrap;
    }
}

@media (max-width:991px){

    .brand{
        margin-left: 100px;
    }

    .navbar{
        position: fixed !important;
    }

    .navbar-item > .product-navbar{
        margin-right: 45px;
    }

    .navbar-item > .home-navbar{
        margin-left: 0px;
    }

    .socialmedia{
        display: none;
    }

    .hero-banner > .hero-image{
        width: 500px;
        height: 500px;
    }

    .videoVideo{
        width: 420px;
        height: 230px;
    }

    .arrowImage1{
        left: 90px;
       top: 50px;
    }

    .imgProduct1{
        position: relative;
        width: 300px;
        height: 300px;
        bottom: -50px;
    }

    .productBg1{
        width: 250px;
        height: 250px;
    }

    .singkong-text{
        top: -250px;
        left: 300px;
    }

    .arrowImage2{
        top: 70px;
        right: 70px;
    }


    .imgProduct2{
        position: relative;
        width: 300px;
        height: 300px;
        bottom: -50px;
    }

    .productBg2{
        width: 250px;
        height: 250px;
    }

    .arrowImage3{
        margin-top: -180px;
        left: 100px;
    }

    .peyekInfo{
        position: relative;
        bottom: -120px;
        left: -100px;
    }

    .imgProduct3{
        position: relative;
        width: 300px;
        height: 300px;
    }

    .productBg3{
        left: 25px;
        width: 250px;
        height: 250px;
    }

    .arrowImage4{
        right: 150px;
    }

    .imgProduct4{
        position: relative;
        width: 300px;
        height: 300px;
    }

    .productBg4{
        width: 250px;
        height: 250px;
    }

    .about-wrapper > .about-text{
        width: 700px;
        margin-top: 100px;
        margin-left: 20px;
    }

    .contact-btn{
        margin-right: 50px ;
    }


    .faq-section{
        display: flex;
        
        justify-content: center;
        align-items: center;
    }

    .faq-sec1{
        width: 300px;
        height: 710px;
    }
 }


@media only screen and (max-width: 768px) {
    .brand{
        margin-left:40px;
    }

    .navbar{
        position: fixed !important;
    }


    .navbar-item > .product-navbar{
        margin-right: 45px;
    }


    .hero-banner > .hero-image{
        width: 500px;
        height: 500px;
    }


    .about-wrapper > .about-text{
        width: 700px;
        margin-top: 100px;
        margin-left: 20px;
    }

    .footer-wrapper > .footer-info{
        font-size:8px;
        color: black;
    }

    .footer-management{
        font-size: 10px;
    }

    .btn1{
        margin-top: 5px;
    }

    .faq-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .faq-sec1{
        width: 300px;
        height: 750px;
        padding-top: -10px;
        margin-bottom: 60px;
    }
}


@media (max-width:630px){
    .brand{
        margin-left: 40px;
    }

    .navbar-item{
        display: none;
    }

    

    .navbar-item > .product-navbar{
        margin-right: 55px;
    }

    .hero-banner > .hero-image{
        width: 100%;
        height: 500px;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .menu-responsive.hidden{
        transition: all .5s ease;
        display: flex;
    }

    .menu-responsive{
        position: fixed;
        display: none;
        
    
    }

    .product-wrapper{
        flex-direction: column;
        overflow: visible;
    }


    .ph{
        display: block;
        margin-right: 30px;
    }

    .faq-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .faq-sec1{
        width: 450px;
        height:530px;
        padding-top: -10px;
        margin-bottom: 60px;
    }
}


@media (max-width:450px){
    .container-main{
        position: relative;
        overflow: hidden;
    }

    .brand{
        margin-left: 40px;
    }

    .navbar{
        width: 400px;
    }

    .navbar-item{
        display: none;
    }

    .navbar-item > .product-navbar{
        margin-right: 55px;
    }

    .ph{
        display: block;
        margin-right: 30px;
    }


    .hero-banner{
        width: 100%;
        height: 600px;
        overflow: hidden;
    }

    .hero-banner > .hero-image{
        width: 100%;
        height: 400px;  
        flex-wrap: wrap;
        margin-top: 100px;
        position: absolute;
        z-index: -;
        transform: scale(1.5);
        
    }

    .heroText{
        position: relative;
        bottom: -200px;
    }

    .video-wrapp{
        flex-direction: column;
    }

    .videoHero{
        margin-top: 50px;
        margin-left: 50px;
    }
    
    .about-wrapper > .about-text{
        width: 400px;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        margin-top: 100px;
        margin-left: 20px;
    }

    .product-wrapper{
        flex-direction: column;
    }

    .product-wrapper2{
        flex-direction: column;
    }

    .product-title{
        margin-bottom: -200px;
    }

    .singkongInfo{
        position: relative;
        bottom: -260px;
        left: -200px;
    }

    .arrowImage1{
        display: none;
    }

    .productBg2{
        position: relative;
        top: -500px;
        right: -100px;
    }

    .pangsitInfo{
        position: relative;
        top: 250px;
        left: 100px;
    }
    .arrowImage2{
        display: none;
    }

    .imgProduct3{
        top: -300px;
    }

    .productBg3{
        top: -300px;
    }

    .peyekInfo{
        position: relative;
        left: -300px;
        top: 80px;
    }

    .arrowImage3{
        display: none;
    }

    
    .imgProduct4{
        top: -500px;
        right: -100px;
    }

    .productBg4{
        position: relative;
        top: -800px;
        right: -100px;
    }

    .basrengInfo{
        position: relative;
        top: -50px;
        left: 100px;
    }

    .arrowImage4{
        display: none;
    }

    .faq-wrapper{
        margin-top: -500px;
    }


    .faq-title-h1{
        display: inline-flex;
        width: 200px;
    }

    .faq-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .faq-sec1{
        width: 400px;
        height: 650px;
        padding-top: -10px;
        margin-bottom: 60px;
    }

    .accordion-button{
        font-size: 20px;
    }

    .accordion-body{
        font-size: 20px;
    }



    .bestseller{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        background-color: #fff7e1;
        padding: 50px;
    }

    .bs-productImg{
        width: 350px;
        height: 350px;
        position: relative;
        left: -150px;
        margin-bottom: 50px;
    }

    .bs-product-name{
        display: inline-flex;
        width: 300px;
    }

    .bs-info{
        width: 300px;
    }

    .ctaButton{
        margin-left: 80px;
    }

    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 180px;
    }

    .footer-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: fit-content;
    }

    .footer-management{
        font-size: 12px;
        
    }

    .footer-sticker{
        margin-top: 20px;
        width: 90px;
        height: 40px;
        border-radius: 18px;
    }

    .footer-wrapper > .footer-company{
        font-size: 18px;
        color: black;
        /* background-color: blue; */
    }

    .footer-wrapper > .footer-info{
        margin-top: 20px;
        font-size: 12px;
        color: rgb(55, 55, 55);
        /* background-color: green; */
    }

    .info-h1{
        font-size: 15px;
    }
}

@media(max-width: 400px){
    .navbar-item > .product-navbar{
        margin-right: 15px;
    }

    .hero-banner > .hero-image{
        width: 100%;
        height: 400px;
        flex-wrap: wrap;
        overflow: hidden;
        }

    .product-title{
        margin-bottom: -200px;
    }
    
    .about-wrapper > .about-text{
        width: 300px;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        margin-top: 40px;
        margin-left: 20px;
    }

    .about-wrapper > .about-text > .about-info{
        font-size: 12px;
        /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
        text-transform: capitalize;
        color: black;
        text-align: center;

    }
    
    .visi{
        display: inline-block;
        width: 180px;
        font-size: 12px;
    }

    .product-wrapper{
        flex-direction: column;
        overflow: visible;
    }

    .product-text{
        margin: auto;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    .imgProduct2{
        right: -50px;
    }

    .pangsitInfo{
        position: relative;
        left: -20px;
    }

    .faq-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .faq-sec1{
        width: 380px;
        height: 650px;
        padding-top: -10px;
        margin-bottom: 60px;
    }
}

/* =================================================================================================================================================================================================
============ RESPONSIVE PHONE CSS ===================================================================================================================================================================
================================================================================================================================================================================================== */