*{
    margin: 0;
    padding:-0;
}
/* =================================================================================================================================================================================================
============ NAVBAR STYLE ===================================================================================================================================================================
================================================================================================================================================================================================== */
.navbar{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: fixed;
    transition: 0.6s;
    z-index: 99999;
}

.navbar.sticky{
    background-color: rgb(242, 188, 40);
}

.brand{
    margin-left: 20px;
}

.logo-navbar{
    border: 1px solid  rgb(201, 67, 66);
    border-radius: 50%;
}

.navbar-brand{
    color: rgb(201, 67, 66);
}

.navbar-item > .about-navbar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(201, 67, 66);
}

.navbar-item > .product-navbar{
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    border-radius: 4px;
    text-decoration: none;
    background-color:rgb(201, 67, 66) ;
    color: white;
}
/* =================================================================================================================================================================================================
============ NAVBAR STYLE END ===================================================================================================================================================================
================================================================================================================================================================================================== */










/* =================================================================================================================================================================================================
============ HERO STYLE ===================================================================================================================================================================
================================================================================================================================================================================================== */

.hero-banner > .hero-image{
    width: 100%;
    height: 300px;
}
/* =================================================================================================================================================================================================
============ HERO STYLE END ===================================================================================================================================================================
================================================================================================================================================================================================== */












/* =================================================================================================================================================================================================
============ ABOUT STYLE ===================================================================================================================================================================
================================================================================================================================================================================================== */
.about-wrapper{
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: rgb(201, 67, 66); */
}

.about-wrapper > .about-text{
    width: 900px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    margin-left: 20px;
}

.about-wrapper > .about-text > .about-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    color: black;
    text-align: center;
    font-weight: bold;
}

.about-wrapper > .about-text > .about-info{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    color: black;
    text-align: center;
}

.sticker-about{
    width: 600px;
    height: 250px;
}

.visi{
    width: 400px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mark-text{
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: rgb(242, 188, 40);
}
/* =================================================================================================================================================================================================
============ ABOUT STYLE END ===================================================================================================================================================================
================================================================================================================================================================================================== */














/* =================================================================================================================================================================================================
============ PRODUCT STYLE ===================================================================================================================================================================
================================================================================================================================================================================================== */
.product-wrapper{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    /* background-color:  rgb(242, 188, 40); */
}

.product-text{
    margin: auto;
    width: 600px;
    text-align: center;
}

.singkong{
    margin-top: 20px;
    border: 10px solid  rgb(242, 188, 40);
    border-radius: 10px ;
    display: flex;
    justify-content: space-between;
}

.singkong-h1{
    color: rgb(201, 67, 66) ;
}

.pangsit{
    margin-top: 10px;
    border: 10px solid  rgb(201, 67, 66);
    border-radius: 10px ;
    display: flex;
    justify-content: space-between;
}

.peyek{
    margin-top: 10px;
    border: 10px solid  rgb(242, 188, 40);
    border-radius: 10px ;
    display: flex;
    justify-content: space-between;
}

.basreng{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 10px solid  rgb(201, 67, 66);
    border-radius: 10px ;
    display: flex;
    justify-content: space-between;
}


.product-text{
    font-size: 20px;
}

.product-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(201, 67, 66);
}
/* =================================================================================================================================================================================================
============ PRODUCT STYLE END ===================================================================================================================================================================
================================================================================================================================================================================================== */

















/* =================================================================================================================================================================================================
============ CARD STYLE ===================================================================================================================================================================
================================================================================================================================================================================================== */
.card-product{
    width: 400px;
    height: 600px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
}
/* =================================================================================================================================================================================================
============ CARD STYLE END ===================================================================================================================================================================
================================================================================================================================================================================================== */















/* =================================================================================================================================================================================================
============ FOOTER STYLE ===================================================================================================================================================================
================================================================================================================================================================================================== */

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 30px;
    background-color: rgb(201, 67, 66);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-teks{
    color: white;

}

.footer-management{
    font-size: 20px;
}

.contact-btn{
    margin-right: 200px ;
}

.btn1{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: transparent;
}

.footer-wrapper{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-sticker{
    width: 150px;
    height: 50x;
    border-radius: 18px;
}

.footer-wrapper > .footer-company{
    font-size: 35px;
    color: black;
    /* background-color: blue; */
}

.footer-wrapper > .footer-info{
    font-size: 15px;
    color: black;
    /* background-color: green; */
}

.footer-media > .media-list{
    list-style: none;
    margin-bottom: 25px;
    font-size: 25px;
}

.icon-footer{
    font-size: 30px;
    padding: 10px;
    background-color: rgba(211, 56, 170, 0.489);
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.info-h1{
    font-size: 25px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
}
/* =================================================================================================================================================================================================
============ FOOTER STYLE END ===================================================================================================================================================================
================================================================================================================================================================================================== */